.dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;

    &__inner {
        --inner-max-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
        --inner-padding: 30px;

        position: relative;
        background: var(--dropdown-bg-color);
        padding: var(--inner-padding);
        border-radius: 20px;
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            position: absolute;
            content: url("../icons/arrow-up.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--arrow-up-color);
        }
    }
}

.top-menu {
    position: relative;
    &__main {
        max-height: var(--inner-max-height);
        overflow-y: auto;
        width: 292px;
        border-right: 1px solid var(--border-main-column-color);
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    & ~ .menu-column {
        padding-top: 23px;

        > :last-child .menu-column__link {
            padding-bottom: 0;
        }
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
    }
    &__icon-1 {
        top: 0;
        left: 0;
        padding-right: 12px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        top: 12px;
        left: 12px;
        filter: var(--menu-column-icon-color);
        object-fit: contain;
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 8px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }
    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }
    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }
    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 140%;
    }
}

.sub-menu {
    display: none;
    position: absolute;
    inset: 0 0 0 292px;
    padding-left: var(--inner-padding);
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);

    &--not-main {
        height: var(--inner-max-height);
        position: initial;
        inset: initial;
        padding-left: 0;
        grid-template-columns: repeat(4, 1fr);
        display: grid;
    }
}
