html.dark {
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(90deg) brightness(98%)
        contrast(107%);
    --top-act-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-bg-color: #2f3541;
    --dropdown-shadow: rrgba(23, 28, 40, 0.4);
    --border-main-column-color: #d2d1d6;

    --arrow-up-color: brightness(0) saturate(100%) invert(19%) sepia(28%) saturate(347%) hue-rotate(181deg)
        brightness(96%) contrast(95%);
    --menu-column-icon-color: brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(713%) hue-rotate(201deg)
        brightness(103%) contrast(98%);

    --sidebar-bg-color: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;

    --cate-item-title-color: #fff;
}
