@use "../utils";

html {
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(47%) saturate(2032%) hue-rotate(228deg) brightness(96%)
        contrast(93%);
    --top-act-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);
    @include utils.screen(md) {
        --header-bg-color: #fff;
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --border-main-column-color: #d2d1d6;
    --arrow-up-color: brightness(0) saturate(100%) invert(100%) sepia(66%) saturate(23%) hue-rotate(8deg)
        brightness(105%) contrast(110%);

    --sidebar-bg-color: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category
    --cate-item-bg-color: #eee;
    --cate-item-thumb-bg-color: #fff;
    --cate-item-title-color: #000;

    @include utils.screen(md) {
        --cate-item-bg-color: #fff;
    }

    // Filter Button
    --filter-btn-text-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    // Product Item
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Like Button
    --like-btn-bg: #fff;

    // Filter Form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg: #f8f8fb;
}
