@use "../utils";

html {
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(47%)
        saturate(2032%) hue-rotate(228deg) brightness(96%) contrast(93%);
    --top-act-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);
    @include utils.breakpoints(md) {
        --header-bg-color: #fff;
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --border-main-column-color: #d2d1d6;
    --arrow-up-color: brightness(0) saturate(100%) invert(100%) sepia(66%)
        saturate(23%) hue-rotate(8deg) brightness(105%) contrast(110%);
}
