@use "../utils";
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Gordita";
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--body-bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}
a,
button,
input,
textarea,
select {
    padding: 0;
    font-family: inherit;
    background: inherit;
    color: inherit;
    outline: inherit;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    padding: 0;
}

.icon {
    filter: var(--icon-color);
}

:root {
    --grid-gutter-y: 20px;
}

.container {
    @include utils.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
